#branding-bar {
 font-family:"Helvetica Neue", Helvetic, Arial, sans-serif;
 font-size:12px;
 font-weight:bold;
 position:fixed;
 bottom:2px;
 right:2px;
 width:700px;
 overflow:hidden;
 z-index:1000;
}

#branding-bar a:link, #branding-bar a:active, #branding-bar a:visited {
 color:#999;
 text-decoration:none;
}
#branding-bar a:hover {
 color:#09F;
}
#branding-bar div {
 
 float:right;
}
.br-bg {
  background:url(images/bar_bg.png) repeat-x;
  height:35px;
}
#branding-bar-content {
 overflow:hidden;
 
 
}
#bar-end-left {
 background:url(images/bar_end_left.png) no-repeat;
 height:35px;
 width:25px;
 
}
#bar-end-left-2 {
 background:url(images/bar_end_left_2.png) no-repeat;
 height:35px;
 width:11px;
 
}
.bar-div {
 width:1px;
 height:27px;
 background:#b0b0b0;
 margin:4px 1px 4px 1px;
 
}

.bar-btn {
 
 height:19px;
 width:13px;
 
 cursor:pointer;
 margin:9px 4px 0 0;
}
.close {
 background:url(images/bar_btns.png) no-repeat -14px 0;
}
.close:hover {
 background:url(images/bar_btns.png) no-repeat -14px -19px;
}
.open {
 background:url(images/bar_btns.png) no-repeat;
}
.open:hover {
 background:url(images/bar_btns.png) no-repeat 0 -19px;
}
.bar-psu-shield {
 background:url(images/bar_btns.png) no-repeat -55px 0; 
 height:22px;
 width:20px;
 
 cursor:pointer;
 margin:7px 4px 0px 4px;
}
.bar-psu-shield:hover {
 background:url(images/bar_btns.png) no-repeat -55px -22px;
 margin:6px 4px 0px 4px;
}
.bar-course-locked {
 height:16px;
 width:14px;
 
 cursor:pointer;
 background:url(images/bar_btns.png) no-repeat -41px -2px;
 margin:9px 4px 0px 4px;
}
.bar-course-locked:hover {
 background:url(images/bar_btns.png) no-repeat -41px -22px;
 margin:8px 4px 0px 4px;
}
.bar-course-unlocked {
 height:19px;
 width:14px;
 
 cursor:pointer;
 background:url(images/bar_btns.png) no-repeat -27px 0;
 margin:9px 4px 0px 4px;
}
.bar-course-unlocked:hover {
 background:url(images/bar_btns.png) no-repeat -27px -19px;
 margin:8px 4px 0px 4px;
}
.bar-printer {
 background:url(images/bar_btns.png) no-repeat -75px 0; 
 height:25px;
 width:24px;
 
 margin:5px 2px 0 4px;
 cursor:pointer;
}
.bar-printer:hover {
 background:url(images/bar_btns.png) no-repeat -75px -25px;
 margin:4px 2px 0 4px;
}
.bar-pdf {
 background:url(images/bar_btns.png) no-repeat -100px 0; 
 height:16px;
 width:15px;
 
 cursor:pointer;
 margin:9px 4px 9px 2px;
}
.bar-pdf:hover {
 background:url(images/bar_btns.png) no-repeat -100px -16px; 
 margin:8px 4px 9px 2px;
 
}
.bar-search {
 height:25px;
 width:140px;
 margin:5px 1px 0px 1px;
}
.bar-search-btn {
 height:25px;
 width:26px;
 background:url(images/bar_btns.png) no-repeat -117px 0px; 
 cursor:pointer;
 float:right;
 position:absolute;
 margin-left:114px;
}
.bar-search-btn:hover {
 background:url(images/bar_btns.png) no-repeat -117px -24px; 
}
.bar-search .search-form div {
 float:left !important;
}
.bar-search .search-form {
 margin:0px;
}
.bar-search .search-form label {
 display:none;
}
.bar-search .search-form .form-item {
 margin:0px;
 padding:0px;
}
.bar-search .search-form .form-submit {
 display:none;
}
.bar-search .search-form .form-text {
 width:137px;
 height:16px;
 margin-top:1px;
 background:none;
 color:#AAAAAA;
 font-size:11px;
 padding-top:4px;
}
.bar-search .search-form .form-text:focus {
 color:#333333;
}

.bar-chat-online {
 height:22px;
 width:77px;
 cursor:pointer;
 background:url(images/bar_btns.png) no-repeat -142px -22px;
 margin:6px 4px 0px 1px;
}
.bar-chat-online:hover {
 background:url(images/bar_btns.png) no-repeat -142px -44px; 
 margin:6px 4px 0px 1px;
}
.bar-chat-offline {
 height:22px;
 width:77px;
 
 background:url(images/bar_btns.png) no-repeat -142px 0; 
 margin:6px 4px 6px 1px;
}
.bar-rss {
 background:url(images/bar_btns.png) no-repeat -219px 0px;
 height:24px;
 width:24px;
 
 cursor:pointer;
 margin:6px 1px 0px 1px;
}
.bar-rss:hover {
 background:url(images/bar_btns.png) no-repeat -219px -24px; 
 margin:5px 1px 0px 1px;
}
.bar-flickr {
 background:url(images/bar_btns.png) no-repeat -243px 0;
 height:24px;
 width:24px;
 
 cursor:pointer;
 margin:6px 1px 0px 1px;
}
.bar-flickr:hover {
 background:url(images/bar_btns.png) no-repeat -243px -24px; 
 margin:5px 1px 0px 1px;
}
.bar-facebook {
 background:url(images/bar_btns.png) no-repeat -267px 0;
 height:24px;
 width:24px;
 
 cursor:pointer;
 margin:6px 1px 0px 1px;
}
.bar-facebook:hover {
 background:url(images/bar_btns.png) no-repeat -267px -24px; 
 margin:5px 1px 0px 1px;
}
.bar-twitter {
 background:url(images/bar_btns.png) no-repeat -291px 0;
 height:24px;
 width:24px;
 
 cursor:pointer;
 margin:6px 1px 0px 1px;
}
.bar-twitter:hover {
 background:url(images/bar_btns.png) no-repeat -291px -24px;
 margin:5px 1px 0px 1px;
}
.bar-youtube {
 background:url(images/bar_btns.png) no-repeat -315px 0;
 height:24px;
 width:24px;
 
 cursor:pointer;
 margin:6px 1px 0px 1px;
}
.bar-youtube:hover {
 background:url(images/bar_btns.png) no-repeat -315px -24px; 
 margin:5px 1px 0px 1px;
}
.bar-vimeo {
 background:url(images/bar_btns.png) no-repeat -340px 0;
 height:24px;
 width:24px;
 
 cursor:pointer;
 margin:6px 1px 0px 1px;
}
.bar-vimeo:hover {
 background:url(images/bar_btns.png) no-repeat -340px -24px; 
 margin:5px 1px 0px 1px;
}
.bar-user {
 background:url(images/bar_pre_logout.jpg) no-repeat left top;
 margin-top:4px;
 height:27px;
 text-align:right;
 padding:6px 2px 0 20px;
}

#bar-end-right {
 background:url(images/bar_end_right.png) no-repeat;
 height:35px;
 width:11px;
 
}
#bar-end-right-2 {
 background:url(images/bar_end_right_2.png) no-repeat;
 height:35px;
 width:25px;
 
}